.main-logo {
    width: 313px;
    height: 158px;
}
.navbar-hover {
    transition: all 0.3s;
}
.navbar-hover:hover {
    transition: all 0s;
}
.nav-header:hover .nav-child, .nav-header-2:hover .nav-child-2 {
    height: auto;
    padding: 0.5rem;
    background-color: rgba(29, 123, 56, var(--tw-bg-opacity));
    overflow: visible;
    opacity: 1;
    z-index: 99999;
}
.nav-child, .nav-child-2 {
    overflow: hidden;
    transition: opacity 0.5s;
    width: 345px;
    box-shadow: 0px 2px 4px #555;
    height: 0px;
    opacity: 0;
}
.nav-child-text {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-changed a {
    color: white;
}


.fb-hover:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
}
.ig-hover:hover {
    background-color: #517fa4;
    border-color: #517fa4;
    color: white;
}
.twitter-hover:hover {
    background-color: #00aced;
    border-color: #00aced;
    color: white;
}
.yt-hover:hover {
    background-color: #bb0000;
    border-color: #bb0000;
    color: white;
}
.yelp-hover:hover {
    background-color: #ce2200;
    border-color: #ce2200;
    color: white;
}
.button-am-i-candidate {
    background: rgb(164,227,79);
    background: linear-gradient(180deg, rgba(164,227,79,1) 0%, rgba(143,201,65,1) 50%, rgba(164,227,79,1) 100%);
}
.button-submit {
    background: rgb(133,103,204);
background: linear-gradient(180deg, rgba(133,103,204,1) 0%, rgba(95,63,171,1) 19%, rgba(83,58,142,1) 50%, rgba(95,63,171,1) 93%, rgba(133,103,204,1) 100%);
}